.file-list,
.file-list ul {
  list-style-type: none;
  font-size: 1em;
  line-height: 1.8em;
  margin-left: 20px;
  padding-left: 18px;
  border-left: 1px dotted #aaa;
}
.file-list li {
  position: relative;
  padding-left: 25px;
}

.file-list li span {
  text-decoration: none;
  cursor: pointer;
}

.file-list li span:before {
  display: block;
  content: ' ';
  width: 10px;
  height: 1px;
  position: absolute;
  border-bottom: 1px dotted #aaa;
  top: 0.6em;
  left: -14px;
}
.file-list li:before {
  list-style-type: none;
  font-family: FontAwesome;
  display: block;
  content: url('../icons/file.svg');
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  color: #555;
}
.file-list .folder-root {
  list-style-type: none;
}

.file-list .folder-root:before {
  content: url('./icons/folder_close.svg');
}
.file-list .folder-root.open:before {
  content: url('./icons/folder_open.svg');
}
li.folder-root ul {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
li.folder-root.closed > ul {
  opacity: 0;
  max-height: 0;
}
li.folder-root.open > ul {
  opacity: 1;
  display: block;
  max-height: 1000px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .file-list,
  .file-list ul {
    margin-left: 3px;
    padding-left: 13px;
  }
}
